[Unit]
Description=MPD DJ plugin for Beets
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=%h/.local/bin/beet dj -n 8 -a

[Install]
WantedBy=mpd.service

