[Unit]
Description=MPD playback tracker plugin for Beets
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=%h/.local/bin/beet tracker

[Install]
WantedBy=mpd.service
