[Unit]
Description=Start qBittorrent on graphical session
BindsTo=graphical-session.target home-hiroto-download.mount
After=graphical-session.target home-hiroto-download.mount

[Service]
ExecStart=/usr/bin/qbittorrent
ExecStop=/usr/bin/pkill -f /usr/bin/qbittorrent

[Install]
WantedBy=graphical-session.target
