[Unit]
Description=Start qBittorrent on graphical session
BindsTo=graphical-session.target media-totoro.mount
After=graphical-session.target media-totoro.mount

[Service]
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/qbittorrent
ExecStop=/usr/bin/pkill -f /usr/bin/qbittorrent

[Install]
WantedBy=graphical-session.target
