[Unit]
Description=Start qBittorrent on graphical session
PartOf=graphical-session.target
BindsTo=home-hiroto-download.mount
After=graphical-session.target home-hiroto-download.mount

[Service]
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/qbittorrent
ExecStop=/usr/bin/pkill -f /usr/bin/qbittorrent

[Install]
WantedBy=graphical-session.target
