[Unit]
Description=Backup system

[Service]
ExecStart=systemd-inhibit --what="sleep:shutdown" --why="Restic backup in progress" %h/.local/bin/restic-backup
